
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}
#nav li {
    display: inline-block;
    font-size: 15px;
}
#nav li:hover a{
    color: green;

}

#nav li a{
    color: black;
    text-decoration: none;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#nav #nav2{
    padding-left: 600px;
    
}
#first{
    padding-top: 50%;
    margin-top: 50px;
    background:url('/img/lodging.png') top center/cover no-repeat;
    
}
#first .text-content{
    position: absolute;
    color: #fff;
    bottom: 210px;
    text-align: left;
    font-size: 28px;
    left: 170px

}
#body{
    margin-top: -28px;
	background-color: Silver;
	height: 800px;
	font-family: Arial;
	padding-top: 30px;
	padding-left: 30px; 
	width: 1220px;
}
.image-area{
	
	padding-right: 17px;
	padding-left: -9px;
	padding-bottom: 50px; 
	
}
.edit{
	width: 80px;
}
.footer{

	width: 1278px;
	text-align: left;
	padding-right: 40px;
	padding-top: 20px;
	margin-left: -30px;
	border-top: 1px solid black;
	margin-right: -20px;

}
.inside{
	text-align: left;
	padding-left: 20px;
}
.inside1{
	text-align: left;
	padding-left: 20px;
	padding-top: -10px;
	color: blue;
}
